In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
import json

In [2]:
# 1. Data Loading

In [3]:
json_lst = []
for line in open('news-dataset.json', 'r'):
    json_lst.append(json.loads(line))

df = pd.DataFrame(json_lst)
df.head()

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

In [4]:
# drop the link variable as it's not of great value to data processing/modelling
df = df.drop(columns=['link'])

In [5]:
df.head()

,category,headline,authors,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,"The ""Dietland"" actress said using the bags is ...",2018-05-26

In [6]:
df.shape

(200853, 5)

In [7]:
df.category.value_counts()

POLITICS          32739
WELLNESS          17827
ENTERTAINMENT     16058
TRAVEL             9887
STYLE & BEAUTY     9649
PARENTING          8677
HEALTHY LIVING     6694
QUEER VOICES       6314
FOOD & DRINK       6226
BUSINESS           5937
COMEDY             5175
SPORTS             4884
BLACK VOICES       4528
HOME & LIVING      4195
PARENTS            3955
THE WORLDPOST      3664
WEDDINGS           3651
WOMEN              3490
IMPACT             3459
DIVORCE            3426
CRIME              3405
MEDIA              2815
WEIRD NEWS         2670
GREEN              2622
WORLDPOST          2579
RELIGION           2556
STYLE              2254
SCIENCE            2178
WORLD NEWS         2177
TASTE              2096
TECH               2082
MONEY              1707
ARTS               1509
FIFTY              1401
GOOD NEWS          1398
ARTS & CULTURE     1339
ENVIRONMENT        1323
COLLEGE            1144
LATINO VOICES      1129
CULTURE & ARTS     1030
EDUCATION          1004
Name: category, dtype: int64

In [8]:
# restructure the categories

POLITICS = ['POLITICS']
NEWS = ['BUSINESS', 'THE WORLDPOST', 'WORLD NEWS', 'WORLDPOST', 'MEDIA', 'IMPACT', 'WEIRD NEWS', 'GOOD NEWS', 'CRIME', 'GREEN', 'ENVIRONMENT', 'RELIGION', 'SCIENCE', 'TECH']
LIFE = ['WELLNESS', 'HEALTHY LIVING', 'FIFTY', 'TRAVEL', 'STYLE & BEAUTY', 'STYLE', 'TASTE', 'PARENTING', 'PARENTS', 'FOOD & DRINK', 'SPORTS', 'HOME & LIVING', 'WEDDINGS', 'DIVORCE', 'MONEY', 'EDUCATION', 'COLLEGE']
ENTERTAINMENT = ['ENTERTAINMENT', 'COMEDY', 'ARTS & CULTURE', 'ARTS', 'CULTURE & ARTS']
COMMUNITIES = ['WOMEN', 'LATINO VOICES', 'BLACK VOICES', 'QUEER VOICES']

In [9]:
# add new category variable to the dataset

df.loc[df.category.isin(POLITICS), 'new_category'] = 'POLITICS'
df.loc[df.category.isin(NEWS), 'new_category'] = 'NEWS'
df.loc[df.category.isin(LIFE), 'new_category'] = 'LIFE'
df.loc[df.category.isin(ENTERTAINMENT), 'new_category'] = 'ENTERTAINMENT'
df.loc[df.category.isin(COMMUNITIES), 'new_category'] = 'COMMUNITIES'

In [10]:
df.head()

,category,headline,authors,short_description,date,new_category
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,She left her husband. He killed their children...,2018-05-26,NEWS
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,Of course it has a song.,2018-05-26,ENTERTAINMENT
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,The actor and his longtime girlfriend Anna Ebe...,2018-05-26,ENTERTAINMENT
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,The actor gives Dems an ass-kicking for not fi...,2018-05-26,ENTERTAINMENT
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,"The ""Dietland"" actress said using the bags is ...",2018-05-26,ENTERTAINMENT

In [11]:
df.new_category.value_counts()

LIFE             88677
NEWS             38865
POLITICS         32739
ENTERTAINMENT    25111
COMMUNITIES      15461
Name: new_category, dtype: int64

In [ ]:
# df = df.sample(frac=1).reset_index(drop=True)

In [12]:
df.head()

,category,headline,authors,short_description,date,new_category
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,She left her husband. He killed their children...,2018-05-26,NEWS
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,Of course it has a song.,2018-05-26,ENTERTAINMENT
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,The actor and his longtime girlfriend Anna Ebe...,2018-05-26,ENTERTAINMENT
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,The actor gives Dems an ass-kicking for not fi...,2018-05-26,ENTERTAINMENT
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,"The ""Dietland"" actress said using the bags is ...",2018-05-26,ENTERTAINMENT

In [340]:
%store df

Stored 'df' (DataFrame)

In [13]:
# define a function that combines the headline and the description

def headline_desc_mapping(headline, description):
    data = headline.map(str) + ". " + description.map(str)
    return data

# df['headline_and_desc'] = df.headline.map(str) + ". " + df.short_description.map(str)

In [98]:
headline = df.headline
desc = df.short_description

headline_and_desc = headline_desc_mapping(headline, desc)

In [15]:
category = df['new_category']

In [298]:
# store the variables to use in another notebook
%store category

Stored 'category' (Series)

In [16]:
# 2. Text Pre-processing

In [54]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [78]:
def text_preprocessing(data):
    # remove unnecessary parts of text
    data = data.apply(lambda row: ' '.join(str(word) for word in nlp(row) if not (word.is_stop or word.is_punct or word.is_digit or word.is_space or word.is_quote or word.is_bracket or word.like_url)))
    # lowercase
    data = data.apply(lambda row: row.lower())
    # # lemmatize the sentence
    data = data.apply(lambda row: ' '.join(str(word.lemma_) for word in nlp(row)))
    return data

In [100]:
headline_and_desc = headline_and_desc.astype('str')

In [101]:
headline_and_desc = text_preprocessing(headline_and_desc)

In [295]:
# store the variables to use in another notebook
%store headline_and_desc

Stored 'headline_and_desc' (Series)

In [102]:
# 3. Target Processing

In [103]:
# label encode the target variable

from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
lb.fit(category)
category_encoded = lb.transform(category)

In [104]:
dict(zip(category, category_encoded))

{'NEWS': 3, 'ENTERTAINMENT': 1, 'POLITICS': 4, 'COMMUNITIES': 0, 'LIFE': 2}

In [105]:
# impute class weights to compensate for class imbalance
# class weights will be applied when fitting the model

# from sklearn.utils.class_weight import compute_class_weight

# class_weights = compute_class_weight("balanced", np.unique(category_encoded), category_encoded)
# print(dict(zip(np.unique(category_encoded), class_weights)))

In [106]:
# one hot encoding the target variable

from keras.utils import np_utils
category_onehot = np_utils.to_categorical(category_encoded)
category_onehot

array([[0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       ...,
       [0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.]], dtype=float32)

In [107]:
# 4. Text Vectorization

In [108]:
import tensorflow as tf 
from tensorflow.keras.layers.experimental.preprocessing import TextVectorization

In [198]:
vocab_size=78000
# output_length=20

In [299]:
# store the variables to use in another notebook
%store vocab_size

Stored 'vocab_size' (int)

In [199]:
# vectorizer = TextVectorization(max_tokens=vocab_size)
vectorizer = TextVectorization(max_tokens=vocab_size
# , output_sequence_length=output_length, split='whitespace'
)
vectorizer.adapt(headline_and_desc.values)

In [200]:
# finetune the appropriate vocab size
vectorizer.get_vocabulary()[-10:]

['addcandytoamovie',
 'addax',
 'addario',
 'adblocke',
 'adaywithoutimmigrant',
 'adaptoy',
 'adaptivity',
 'adaptively',
 'adane',
 'adan']

In [145]:
# 5. Split the dataset

In [201]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(headline_and_desc, category_onehot, test_size=0.3, random_state=42, shuffle=True)

In [147]:
# compute train_class_weights

# y_train_lst = np.argmax(y_train, axis=1)
# train_class_weight = dict(zip(np.unique(y_train_lst), class_weights))

In [148]:
# 5. Text Classifier: Bidirectional LSTM

In [149]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import LSTM, Bidirectional
from tensorflow.keras.layers import Embedding, Dense, Dropout, Flatten
from tensorflow.keras import optimizers, losses, metrics
from tensorflow.keras.callbacks import EarlyStopping

In [206]:
model = tf.keras.Sequential([
    vectorizer,
    tf.keras.layers.Embedding(
        input_dim=len(vectorizer.get_vocabulary()),
        output_dim=128),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(64)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dropout(0.3),
    tf.keras.layers.Dense(len(np.unique(category_encoded)), activation='softmax')
])

In [207]:
model.compile(optimizer=optimizers.Adam(learning_rate=0.001), loss=losses.categorical_crossentropy, metrics=['acc'])

In [208]:
epochs=3
batch_size=128
# es = EarlyStopping(monitor='val_acc', patience=10)

history = model.fit(x_train, y_train, validation_data=(x_test, y_test), epochs=epochs, batch_size=batch_size, verbose=2, shuffle=False)

Epoch 1/3
1099/1099 - 306s - loss: 0.7698 - acc: 0.7250 - val_loss: 0.6334 - val_acc: 0.7745
Epoch 2/3
1099/1099 - 289s - loss: 0.5139 - acc: 0.8223 - val_loss: 0.6745 - val_acc: 0.7673
Epoch 3/3
1099/1099 - 288s - loss: 0.3910 - acc: 0.8650 - val_loss: 0.8179 - val_acc: 0.7576

In [209]:
train_loss, train_acc = model.evaluate(x_train, y_train)
test_loss, test_acc = model.evaluate(x_test, y_test)

4394/4394 [==============================] - 49s 11ms/step - loss: 0.2830 - acc: 0.9014
1883/1883 [==============================] - 22s 12ms/step - loss: 0.8157 - acc: 0.7576

In [210]:
# make prediction

y_pred = model.predict(x_test)

In [211]:
# define a function that inversers the prediction values to the class

def inverse_prediction(prediction):
    prediction_class = [np.argmax(i, axis=None, out=None) for i in prediction]
    prediction_label = lb.inverse_transform(prediction_class)
    return prediction_label

In [212]:
y_pred_label = inverse_prediction(y_pred)
y_test_label = inverse_prediction(y_test)

In [213]:
prediction_df = pd.DataFrame({'Prediction Label': y_pred_label,
                              'Actual Label': y_test_label})

prediction_df.head()

  Prediction Label Actual Label
0      COMMUNITIES         NEWS
1         POLITICS     POLITICS
2             LIFE         LIFE
3             LIFE         LIFE
4         POLITICS     POLITICS

In [214]:
prediction_df.shape

(60256, 2)

In [215]:
prediction_df.loc[prediction_df['Prediction Label'] == prediction_df['Actual Label']].shape

(45648, 2)

In [216]:
# confusion matrix

from sklearn.metrics import confusion_matrix

matrix = confusion_matrix(prediction_df['Actual Label'].values, prediction_df['Prediction Label'].values)
matrix_df = pd.DataFrame(matrix, columns=range(5), index=range(5))
matrix_df.head()

      0     1      2     3     4
0  2372   567    887   341   492
1   333  4940   1370   527   311
2   401   821  23363  1679   573
3   409   469   2227  7089  1313
4   259   210    476   943  7884

In [ ]:
# 6. Save the model

In [217]:
import pickle

In [219]:
model.save('news_classifier')

INFO:tensorflow:Assets written to: news_classifier/assets

In [224]:
mdl = tf.keras.models.load_model('news_classifier')

In [300]:
df.loc[10]

category                                                 ENTERTAINMENT
headline             Justin Timberlake Visits Texas School Shooting...
authors                                              Sebastian Murdock
short_description    The pop star also wore a "Santa Fe Strong" shi...
date                                                        2018-05-26
new_category                                             ENTERTAINMENT
Name: 10, dtype: object

In [322]:
sample_text = ['US markets soar despite election uncertainty. US stock markets have recorded their biggest post-election leap in decades despite continuing uncertainty over which candidate will win the race.']

In [329]:
sample_text = pd.DataFrame(sample_text, columns=['news'])
sample_text

                                                news
0  US markets soar despite election uncertainty. ...

In [330]:
sample_text = text_preprocessing(sample_text['news'])
sample_text

0    market soar despite election uncertainty stock...
Name: news, dtype: object

In [333]:
%store sample_text

Stored 'sample_text' (Series)

In [331]:
sample_pred = mdl.predict(sample_text)

In [332]:
sample_pred_label = inverse_prediction(sample_pred)
sample_pred_label

array(['NEWS'], dtype=object)

In [334]:
%store sample_pred_label

Stored 'sample_pred_label' (ndarray)